.boxed-layout .page-container .header {
    width: 1300px;
    right: auto;
}

/*  6.8 Page - Gallery */

.gallery {
    margin: 0 -10px;

}
.gallery-option-set {
    display: block;
    margin-bottom: -5px;
}
.gallery-option-set .btn {
    margin: 0 5px 5px 0;
}
.gallery .image {
    width: 25%;
    display: block;
    margin-right: -10px;
    overflow: hidden;
    padding: 10px;

}
.gallery .image img {
    width: 100%;
    height: 200px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) ,0 -1px 1px rgba(0,0,0,0.2), 1px 0 1px rgba(0,0,0,0.2), -1px 0 1px rgba(0,0,0,0.2)  ;
}
.gallery .image-inner {
    position: relative;
    background: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;

}
.gallery .image a {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;

}
.gallery .image a:hover,
.gallery .image a:focus {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.gallery .image-caption {
    position: absolute;
    top: 15px;
    left: 0;
    background: url(../img/transparent/black-0.6.png);
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
}
.gallery .image-info {
    background: #f9f9f9;
    padding: 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) ,0 -1px 1px rgba(0,0,0,0.2), 1px 0 1px rgba(0,0,0,0.2), -1px 0 1px rgba(0,0,0,0.2)  ;
}
.gallery .image-info .title {
    margin: 0 0 10px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery .image-info .rating {
    line-height: 20px;
    margin: 0 0 3px;
}
.gallery .image-info .desc {
    line-height: 16px;
    font-size: 12px;
    height: 12px;
    overflow: hidden;
}
.gallery .rating span.star {
    font-family: FontAwesome;
    display: inline-block;
}
.gallery .rating span.star:before {
    content: "\f005";
    color: #999;
}
.gallery .rating span.star.active:before {
    color: #FF8500;
}