<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/data/mongo
      http://www.springframework.org/schema/data/mongo/spring-mongo-1.7.xsd">

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- 引入jdbc配置文件 -->
	<context:property-placeholder location="classpath:conf/jdbc.properties" />

	<!-- 扫描文件（自动将service层注入） -->
	<context:component-scan base-package="cn.dlb.bim.service" />

	<!-- 扫描文件（自动将component注入） -->
	<context:component-scan base-package="cn.dlb.bim.component" />

	<!-- 扫描文件（自动将dao层注入） -->
	<context:component-scan base-package="cn.dlb.bim.dao.impl" />

	<!-- spring连接mongodb数据库的配置 -->
	<mongo:mongo-client host="${mongo.host}" port="${mongo.port}"
		credentials="${mongo.username}:${mongo.password}@${mongo.dbname}" id="mongo">
		<mongo:client-options write-concern="SAFE" />
	</mongo:mongo-client>

	<mongo:db-factory id="mongoDbFactory" mongo-ref="mongo" />

	<!-- mongo模板操作对象 -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mongoConverter" ref="mappingConverter" />
		<property name="writeResultChecking" value="EXCEPTION" />
	</bean>

	<!-- by default look for a Mongo object named 'mongo' - default name used 
		for the converter is 'mappingConverter' -->
	<mongo:mapping-converter id="mappingConverter" base-package="cn.dlb.bim.dao.converters" type-mapper-ref="defaultMongoTypeMapper">
		<mongo:custom-converters base-package="cn.dlb.bim.dao.converters"/>
	</mongo:mapping-converter>
	
	<!-- 默认Mongodb类型映射 -->
	<bean id="defaultMongoTypeMapper"
		class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
		<constructor-arg name="typeKey">
			<null /><!-- 这里设置为空,可以把 spring data mongodb 多余保存的_class字段去掉 -->
		</constructor-arg>
	</bean>

	<bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="mappingConverter" />
	</bean>

	<!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->
	<mongo:repositories base-package="cn.dlb.bim.dao.impl" />

	<context:annotation-config />

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="20" />
		<property name="WaitForTasksToCompleteOnShutdown" value="true" />
	</bean>

</beans>