<li ng-if="item.contains.length!=0">
	<div class="nopointer"><span ng-class="{true:'tree-minus-bg',false:'tree-add-bg'}[item.see]" ng-click="item.see= !item.see" ng-init="item.see=false"></span>contains</div>
	<div ng-hide="item.see">	
	<ul ng-repeat="item in item.contains" >
 		<li ng-click=setOidShow(item) ng-class="{true:'blue-txt',false:''}[item.checked]"><span class="ifc"></span>{{item.ifcClassType}}{{item.name}}</li>
		<li>
			<ul ng-include = "'./treeTemp/decomposition.html'"></ul>
	    	<ul ng-include = "'./treeTemp/contains.html'"></ul>
		</li>
	</ul>
	</div>
</li>