<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<dl class="list-box cl">
    <dt>
    	<div class="images fxm-images"  style="background-image: url({{data.img || 'admin/img/timg.png'}}); display: block;"></div>
   	</dt>
    <dd style="margin-left:0">
        <h4 style="padding-top:0">{{data.fileName || '未命名'}}</h4>
        <p class="text">{{data.fileSize || '未知大小'}}</p>
    </dd>
    <dd class="poa-switch">
		<input class="mui-switch mui-switch-anim checked" id="muiSwitch" checked="checked" type="checkbox"   ng-click="enableTag(enableSign)" name="enableSign" ng-model="enableSign">
    </dd>
</dl>