<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="floor">
	<ul>
    		<li><span class="floor-tittle">楼层模式</span><input class="mui-switch mui-switch-anim checked" id="muiSwitch" checked="checked" type="checkbox"   ng-click="enableTag(enableSign)" name="enableSign" ng-model="enableSign"></li>
    		<li><span>F1</span></li>
    		<li><span>F2</span></li>
    		<li><span>F3</span></li>
    		<li><span>F4</span></li>
    		<li><span>F5</span></li>
    		<li><span>F6</span></li>
    		<li><span>F7</span></li>
    		<li><span>F8</span></li>
    </ul>
</div>