<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="major-box">
    <div class="major-box1 cl">
        <span  class="fl" ng-show="majorTypedata.length>=1">提示：最多12个专业</span>
        <span  class="fl" ng-show="majorTypedata.length==0">暂无专业</span>
        <button type="button" class="fr major-save-btn" ng-show="majorTypedata.length>=1" ng-click="saveMajor()">保存</button>
        <button type="button" class="fr major-save-btn" ng-show="majorTypedata.length==0" ng-click="initMajor()">新建</button>
    </div>
	
	
    <div class="major-box2" ng-show="majorTypedata.length>=1">
        <p>当前专业:</p>
        <div class="select-down-wrapper">
            <div class="select-down-showitem" ng-click="selectDown()">
            	<!--{true:'默认',false:majorTypedata[0].name}[majorTypedata[0].name=='DEFAULT']-->
                <span class="select-down-left" id="txt" ng-bind="majorTypedata[0].name"></span>
                <div class="icon-black-down"></div>
            </div>
            <ul class="select-down-box" ng-repeat="item in majorTypedata" ng-show="majorTypedata.length>1 && majorTypedata.showTag">
                <li ng-if="$index!=majorTypedata.indexNow">
                    <span class="select-down-leftw">所有专业</span>
                    <a class="icon-red-cross" title="删除">X</a>
                </li>
            </ul>
        </div>
    </div>
	
	
    <div  class="tile-choose-box"  ng-show="majorTypedata.length>=1">
        <ul ng-repeat = "(key,value) in majorTypedata[majorTypedata.indexNow].ifcTypeSelectorMap track by $index">
            <li ng-if="key != 'selected'">
                <span ng-class="{true:'icon-tile-choose',false:'icon-tile-nochoose'}[value.selected]" ng-click="allMajorValue(value)" ng-init="value.selected = true"></span>
                <span class="tile-font">{{key}}</span>
                <b class="icon-white-down tile-fr" onclick="collosePand(this)"></b>
            </li>
            <ul ng-repeat = "(key1,val1) in value.namespaceSelectorMap">
                <li ng-if="key1 != 'selected' ">
                    <span class="icon-tile-choose" ng-class="{true:'icon-tile-choose',false:'icon-tile-nochoose'}[val1.selected]" ng-click="allMajorValue(val1)"></span>
                    <a class="tile-font">{{key1}}</a>
                </li>
                <ul ng-repeat = "(key2,val2) in val1.objectTypeContainerMap">
                    <li>
                        <span class="icon-tile-choose" ng-class="{true:'icon-tile-choose',false:'icon-tile-nochoose'}[val2.selected]" ng-click="allMajorValue(val2)"></span>
                        <span class="tile-font">{{key2}}</span>
                    </li>
                </ul>
            </ul>
            
        </ul>
    </div>
    
</div>	

<script id="msgBox" type="ng/template">
	<div class="msg">
	<table>
	    <tbody><tr>
	        <th width="100"><span>*</span>名称：</th>
	        <td><input type="text" name="userName" class="gray" placeholder="请输入专业名称"  id="newMajorName"></td>
	    </tr></tbody>
	</table>
	</div>
	<div class="msg-toolBar">
        <button type="button" class="major-save-btn" ng-click="saveMajorAs()">另存为</button>
		<button type="button" class="major-save-btn" ng-click="updateMajor()">修改</button>
    </div>
</script>