<div class="markbox-top">
<a class="mark-text"><input class="mui-switch mui-switch-anim checked" id="muiSwitch" checked="checked" type="checkbox"   ng-click="enableTag(enableSign)" name="enableSign" ng-model="enableSign" style="top:8px;">显示标注</a>
 <button class="btnmark" id="btnmark" type="submit">创建</button>
</div>
  <div id="markerdetail" class="padding-20 bottom-border-1" style="margin-bottom: 30px;"> 
   <label>名称：</label>
   <input class="form-control bv_marker_input_name" type="text" /> 
   <label>描述：</label>
   <input class="form-control bv_marker_input_userdata" type="text" /> 
   <label>坐标：</label>
   <input class="form-control bv_marker_input_position" type="text" /> 
   <label>色值：</label> 
   <div class="form-group">
   <input type="text" id="letter-case" class="demo" data-letterCase="uppercase" ng-click="changColor()" >
   </div>
  <div class="mark3">
    <button class="btnmark" id="btnmarkclose" type="submit">关闭</button>
    <button class="btnmark" id="btnmarkpick" type="submit">选点</button>
    <button class="btnmark" id="btnmarkensure" type="submit">确定</button>
  </div>
  </div>