<div class="markbox-top">
<a class="mark-text"><input class="mui-switch mui-switch-anim checked" id="muiSwitch" checked="checked" type="checkbox"   ng-click="enableTag(enableSign)" name="enableSign" ng-model="enableSign" style="top:8px;">显示标注</a>
 <button class="btnmark" id="btnmark" type="submit">创建</button>
</div>
  <div id="markerdetail" class="padding-20 bottom-border-1" style="margin-bottom: 30px;"> 
   <label>名称：</label>
   <input class="form-control bv_marker_input_name" type="text" /> 
   <label>描述：</label>
   <input class="form-control bv_marker_input_userdata" type="text" /> 
   <label>坐标：</label>
   <input class="form-control bv_marker_input_position" type="text" /> 
   <label>图标：</label> 
   <select class="form-control bv_marker_input_icon"> <option value="images/markers/1.png" selected="selected">images/markers/1.png</option> <option value="images/markers/2.png">images/markers/2.png</option> <option value="images/markers/3.png">images/markers/3.png</option> <option value="images/markers/4.png">images/markers/4.png</option> <option value="images/markers/5.png">images/markers/5.png</option> </select> 
   <div class="mark3">
    <button class="btnmark" id="btnmarkclose" type="submit">关闭</button>
    <button class="btnmark" id="btnmarkpick" type="submit">选点</button>
    <button class="btnmark" id="btnmarkensure" type="submit">确定</button>
  </div>
  </div>