<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlb.bim.dao.IIfcClassLookupDAO">
    <insert id="insertIfcClassLookup" keyProperty="cid" parameterType="IfcClassLookup">
		insert into data.ifc_class_lookup
			(cid,package_class_name)
			values
			(#{cid},#{packageClassName})
	</insert>
    <select id="queryAllIfcClassLookup" resultMap="IfcClassLookupResult" resultType="IfcClassLookup">
		select * from data.ifc_class_lookup
	</select>
    <resultMap id="IfcClassLookupResult" type="IfcClassLookup">
        <id column="cid" property="cid"/>
        <result column="package_class_name" property="packageClassName"/>
    </resultMap>
    <select id="queryIfcClassLookupByCid" parameterType="Integer" resultMap="IfcClassLookupResult" resultType="IfcClassLookup">
		select * from data.ifc_class_lookup where cid=#{cid}
	</select>
	<select id="queryIfcClassLookupByPackageClassName" parameterType="String" resultMap="IfcClassLookupResult" resultType="IfcClassLookup">
		select * from data.ifc_class_lookup where package_class_name=#{packageClassName}
	</select>
</mapper>
