<div id="content" class="content" ng-controller="prolist">
<ul>
<li ng-repeat="x in feifei">
    {{ x.author + ', ' + x.title }}
  </li>
</ul>

    <div id="options" class="m-b-10">
        <span class="gallery-option-set" id="filter" data-option-key="filter">
            <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                All
            </a>
            <a href="#building" class="btn btn-default btn-xs" data-option-value=".building">
                Building
            </a>
            <a href="#site" class="btn btn-default btn-xs" data-option-value=".site">
                Site
            </a>
            <a href="#metro" class="btn btn-default btn-xs" data-option-value=".metro">
                Metro
            </a>
            <a href="#factory" class="btn btn-default btn-xs" data-option-value=".factory">
                Factory
            </a>
            <a href="#electromechanical" class="btn btn-default btn-xs" data-option-value=".electromechanical">
                Electromechanical
            </a>
            <a href="#big" class="btn btn-default btn-xs" data-option-value=".big">
                Big Building
            </a>
            <a href="#part" class="btn btn-default btn-xs" data-option-value=".part">
                Part
            </a>
            <a href="#others" class="btn btn-default btn-xs" data-option-value=".others">
                Others
            </a>
        </span>
    </div>
    
    <div id="gallery" class="gallery">
        <div class="image building">
            <div class="image-inner">
                <a href="http://www.bimviz.io:16000/examples/index.html?pid=c4d6fe42-66a7-43f1-bb75-6b7a75311921" target="_blank" >
                    <img src="Public/1/1.png" alt="" />
                </a>
                <p class="image-caption" style="font-size: 16px;">
                    小别墅
                </p>
            </div>
            <div class="image-info">
                <h5 class="title">House</h5>

                <div class="pull-right">
                    <small>by</small> <a href="http://www.bimviz.io" target="_blank" >BimViz</a>
                </div>
                <div class="rating">
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star"></span>
                </div>
            </div>
        </div>
    </div>

</div>
