.progressbars{position: absolute;bottom:20px;right:40px;width: 250px;height: 58px;padding: 10px 15px;background: rgba(0,0,0,0.4);border-radius: 10px;}
.progressbars .text{color: #fff;font-size:12px;line-height: 18px;padding-bottom: 2px;margin-bottom: 8px;}
.progress-striped{width: 100%;height: 100%;background-image: -webkit-linear-gradient(to bottom, #d2e9a1, #b8d875,#a6cf61,#85bc41,#69af36,#5aa630,#5da33b);background-image: linear-gradient(to bottom, #d2e9a1, #b8d875,#a6cf61,#85bc41,#69af36,#5aa630,#5da33b);}
.progress{overflow: hidden;height: 20px;margin-bottom: 20px;background-color: #f5f5f5;border-radius: 4px;-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.progress-bar{float: left;width: 100%;height: 100%;font-size: 12px;line-height: 20px;color: #fff;text-align: center;background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);background-size: 40px 40px;box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition: width .6s ease;transition: width .6s ease;}
 
 		#infoDark {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 300px;
    height: 300px;
    color: #ffffff;
    padding:5px 0;
    font-family: Monospace;
    font-size: 18px;
    text-align: center;
    background: black;
    opacity: 0.6;
    z-index: 100000;
    color: #fff;
}
         #logo{
          	position: absolute;
             bottom:30px;
             left:3%;
             width: 200px;
             height:68px;
             color: #ffffff;
             font-family: Monospace;
             font-size: 18px;
             text-align: center;
             background-image:url(../img/logo.png);
             background-repeat:no-repeat;
             background-size:cover;
             z-index: 100000;
             
         }
         
.mui-switch {
        width: 45px;
        height: 25px;
        position: relative;
        border: 1px solid #dfdfdf;
        padding-right:0.2rem;
        background-color: #fdfdfd;
        box-shadow: #dfdfdf 0 0 0 0 inset;
        border-radius: 20px;
        background-clip: content-box;
        display: inline-block;
        -webkit-appearance: none;
        user-select: none;
        outline: none; }
    .mui-switch:before {
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0px;
        left: 0;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
    .mui-switch.checked{
        border-color: #2d5f7e;
        box-shadow: #2d5f7e 0 0 0 16px inset;
        background-color: #2d5f7e; }
    .mui-switch.checked:before{
        left: 21px; }
    .mui-switch.mui-switch-animbg {
        transition: background-color ease 0.4s; }
    .mui-switch.mui-switch-animbg:before {
        transition: left 0.3s; }
    .mui-switch.mui-switch-animbg.checked {
        box-shadow: #dfdfdf 0 0 0 0 inset;
        background-color: #2d5f7e;
        transition: border-color 0.4s, background-color ease 0.4s; }
   .mui-switch.mui-switch-animbg.checked:before {
        transition: left 0.3s; }
    .mui-switch.mui-switch-anim {
        transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
    .mui-switch.mui-switch-anim:before {
        transition: left 0.3s; }
    .mui-switch.mui-switch-anim.checked {
        box-shadow: #2d5f7e 0 0 0 16px inset;
        background-color: #2d5f7e;
        transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
    .mui-switch.mui-switch-anim.checked:before,{
        transition: left 0.3s; }
.tree-view{
	font-size: 12px;
    padding: 20px 10px;
}
.tree-view ul{
	font-size: 12px;
	white-space: nowrap;
}
.tree-view ul li{margin-left:12px;white-space: nowrap;line-height: 22px;cursor: pointer;}
span.tree-add-bg {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -1px;
    background: url(../images/add.png) no-repeat;
    background-size: cover;
    line-height: 12px;
    cursor:pointer;
    margin-right: 5px;
}
span.tree-minus-bg{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -1px;
    background: url(../images/minus.png) no-repeat;
    background-size: cover;
    line-height: 12px;
    cursor:pointer;
     margin-right: 5px;
}   
span.ifc{
	display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -1px;
    background: url(../images/ifc12.png) no-repeat;
    background-size: cover;
    line-height: 12px;
    cursor:pointer;
     margin-right: 5px;
}     