.wrap{width:100%;height:1000px;}
.wrap p{font-size: 48px;text-align: center;color: #fff;padding-top: 280px;line-height: 60px;}
.nav-slide{position: fixed;left: 60px;top: 60px;width: 230px;overflow: initial;bottom: 0;background: rgba(57, 65, 74, 0.45);transform: rotateY(120deg);-webkit-transform: rotateY(120deg);-moz-transform: rotateY(120deg);-o-transform: rotateY(120deg);-ms-transform: rotateY(120deg);z-index: 99;visibility: hidden;transform-origin: 0 0;-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;-o-transform-origin: 0 0;-ms-transform-origin: 0 0;backface-visibility: hidden;-webkit-backface-visibility: hidden;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition-timing-function: cubic-bezier(.08, .72, .71, .96);-webkit-transition-timing-function: cubic-bezier(.08, .72, .71, .96);}
.nav-slide.hover{transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);-ms-transform: rotateY(0deg);z-index: 15;visibility: visible;color: #ffffff;}
.nav-slide-o{display: none;}
.navbar-brand{display: inline-block;/* padding-top: .25rem; *//* padding-bottom: .25rem; */font-size: 1.25rem;line-height: inherit;white-space: nowrap;/*color: #20a8d8;*/text-decoration: none;display: inline-block;width: 83px;height: 60px;background-color: hsla(215, 7%, 35%, 0);background-image: url(images/20.png);background-repeat: no-repeat;background-origin:content-box;background-position: center center;/* background-size: 25px auto; */border-bottom: 1px solid rgba(82, 88, 94, 0);}
.navbar-brand{/* display: inline-block; */width: 360px;height: 59px;/*float: inherit;*//* background-position:center; *//* background-color: rgb(45, 53, 61); */background-image: url(../images/DLBlogolan.png);background-repeat: no-repeat;}
header.navbar{position: absolute;left: 0;right: 0;height: 60px;top: 0;padding: 0;background-color: #fff;border-bottom: 1px;background-position:center;border-bottom-width: 1px;border-bottom-style: none;border-bottom-color: rgba(0, 0, 0, 0.156863);padding-left:;padding-right: 30px;min-width: 1280px;/* box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px 0px; */width: 100%;background-color: rgba(57, 65, 73, 0);}
.aside-menu-box{opacity: 0.9;width: 60px;top: 60px;bottom: 0;position: absolute;left: 0px;z-index:10;background-color: rgb(45, 53, 61);}
.aside-box{height:auto;padding-left: 0px;list-style-type: none;}
li.li:hover{background-color: #103956 !important;}
li.li.hover{background-color: #103956 !important;}
li.li.hover .iconfont1{display:block;}
.li{padding-top: 15px;position: relative;padding-bottom: 15px;cursor: pointer;}
.font{font-size: 10px;color: #ffffff;text-decoration: none;display: inline-block;text-align: center;display: block;}
@font-face{font-family: 'iconfont';src: url('../font/iconfont.eot');src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),url('../font/iconfont.woff') format('woff'),url('../font/iconfont.ttf') format('truetype'),url('../font/iconfont.svg#iconfont') format('svg');}
.iconfont{font-family:"iconfont" !important;font-size:18px;font-style:normal;margin-bottom: 0px;}
.iconfont1{font-family:"iconfont" !important;position: absolute;font-style: normal;text-align: right;right: -0.3em;border-bottom-style: hidden;padding-bottom: 0px;top:26px;color:#eee;display: none;}
.modal-body {
    overflow-y: visible;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
}
.table.propertiesTable tr.active {
    background: #2d5f7e !important;
    color: #fff !important;
    border-bottom: 0;
}
.nav-slide-o{
	height:100%;
	overflow:auto;
}
.propertiesList{
	overflow:auto;
	overflow-x:hidden;
}
.propertiesTable {
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    width: 92%;
    table-layout: fixed;
    overflow: hidden;
}
#propertiesList{
	}
#propertiesTable td{
	padding: 6px 5px;
	/* background: #fff; */
	overflow: hidden;
	text-overflow: ellipsis;
}
.propertiesTable:first-child{
	border-top:1px solid #000
	}

.floor li{
	line-height: 50px;
	display: block;
	padding: 0 20px;
	font-size: 18px;
	color:#222;
	overflow: hidden;
	text-align: center;
	position: relative;
	transition: all .5s;
	border-top: 2px solid #a0a0a0;
	cursor: pointer;
	background: #2d5f7e;
	color:#fff;
}
.floor .mui-switch{
	vertical-align:middle;
}
.floor .floor-tittle{
	font-size: 18px;
	margin-right: 10px;
}
.floor ul li.hover{
	background: transparent;
    color: #222;
}
.floor ul li:first-child{
	border-top:0;
	color: #fff;
	background: transparent;
}	
.floor ul li:last-child{
	border-bottom:2px solid #a0a0a0;
}	

.padding-20 {
    padding: 20px !important;
}
.list-item-font {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.border-bottom-1 {
    border-bottom: 1px solid #ddd;
}
.input-group {
    display: table;
    border-collapse: separate;
}
.propertiesTable {
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    width: 92%;
    table-layout: fixed;
    overflow: hidden;
    background: #fff;
    border-color: #7f7d7d;
    border-collapse: collapse;
}
.nav-iconback {
    position: fixed;
    right: -25px;
    top: 0px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 25px;
    background: url(../images/icon_back.png) no-repeat #757373 0 0;
    font-size: 12px;
    background-color: rgba(59, 67, 75, 0.39);
    z-index: 200000;
    cursor:pointer;
    /* box-shadow: rgba(0, 0, 0, 0.14902) 1px 0px 1px 0px; */
}
.markbox-top{
    border-bottom: 1px solid #c3c3c3;
    padding: 5px 10px 14px 10px;
}
.mark-text{
    font-size: 18px;
    text-align:center;
    padding: 0 5px;
}
.mark-text .mui-switch{
	margin-right:10px
}
.btnmark{
	/* padding: 0 5px; */
	/* margin-right: 20px; */
	/* padding-top: 2px; */
}
#btnmark {
    display: inline-block;
    font-size: 14px;
    width: 66px;
    height: 27px;
    color: #fff;
    letter-spacing: 1px;
    background: #103956;
    border: 0;
    outline: medium;
    -webkit-appearance: none;
    float: right;
    margin-top: 11px;
    margin-right: 16px;
    border-radius: 5px;
    }
#markerdetail label {
    margin-top: 5px;
    font-weight: 400;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
}
.form-control {
    border-color: #666;
    background-color: rgba(255,255,255,0.05);
    color: #222 !important;
    display: block;
    width: 235px;
    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}
.mark3{
	  margin-top: 21px;
}
#btnmarkclose {
    display: inline-block;
    font-size: 12px;
    width: 50px;
    height: 30px;
    color: #fff;
    letter-spacing: 1px;
    background: #103956;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    float: right;
    margin-right: 2px;
    }
    #btnmarkpick {
    display: inline-block;
    font-size: 14px;
    width: 50px;
    height: 30px;
    color: #fff;
    letter-spacing: 1px;
    background: #103956;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    float: right;
    margin-right: 5px;
    cursor:point;
    }
    #btnmarkensure {
    display: inline-block;
    font-size: 14px;
    width: 50px;
    height: 30px;
    color: #fff;
    letter-spacing: 1px;
    background: #103956;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    float: right;
    margin-right: 5px;
    cursor:point;
    }
    .search-box-list{padding: 0px 20px;}
    .search-box:hover{
	transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);-ms-transform: rotateY(0deg);z-index: 15;visibility: visible;
    background: rgba(50, 135, 187, 0.8);
}
.search-box{
        padding: 20px 0px 20px 60px;
        border-bottom:1px solid #c3c3c3;
        position: relative;
    }
    .search-box dt{
        float:left;
        margin-left: -50px;
    }
    .search-box dt .images{
        width: 40px;
        height: 40px;
        margin-top: 0rem;
        background-repeat:no-repeat;
        background-position:center center;
        background-size:cover;
        background-color: #fff;
        border: 1px solid #e5e5e5;
    }
    .search-box dd{
    }
   .search-box dd h4{
        font-size: 16px;
        color:#272727;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        /* line-height: 25px; */
        vertical-align: top;
        margin-bottom: 5px;
        font-weight: 400;
        margin-top: 0;
    }
    .search-box dd .text{
    	font-size: 14px;
    	color: #635b5b;
    	font-size: 12px;
    	max-height: 48px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	line-height: 16px;
    }
    .search-box dd.poa-switch {
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    right: 10px;
    margin-left: 0;
}
    
        #luopanBox {
            position: absolute;
            bottom: 100px;
            right: 20px;
            z-index: 20;
        }
 .div_project {
    min-height: 0px;
    height: 46px;
    display: inline-block;
    padding-top: 12px;
    margin-right: 20px;
    min-width: 40px;
    text-align: center;
    float: right;
}
.button_wUyZlQ2 {
    font-size: 6px;
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 1px;
    height: 23px;
    width:60px;
    float: left;
    margin-left: 15px;
    background-color: rgb(122, 122, 122);
    color: #FFF;
}
 .div_back {
    min-height: 0px;
    height: 46px;
    display: inline-block;
    padding-top: 12px;
    margin-right: -9px;
    min-width: 40px;
    text-align: center;
    float: right;
}

        